<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <img src="../../../assets/images/logo.png" />
      <ion-label>More</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <div class="heading">My account</div>
    <div class="list-item">
      <ion-icon name="airplane-outline"></ion-icon>
      <div class="sub-heading"> Excursions</div>
    </div>
    <div class="list-item">
      <ion-icon name="bookmark-outline"></ion-icon>
      <div class="sub-heading"> Saved</div>
    </div>
    <div class="list-item">
      <ion-icon name="pricetag-outline"></ion-icon>
      <div class="sub-heading"> Coupon</div>
    </div>
    <div class="list-item">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <div class="sub-heading"> Messages</div>
    </div>
  </div>
  <div class="list">
    <div class="heading">Settings</div>
    <div class="list-item">
      <ion-icon name="notifications-outline"></ion-icon>
      <div class="sub-heading"> Notifications</div>
    </div>

    <div class="list-item">
      <ion-icon name="globe-outline"></ion-icon>
      <div class="sub-heading"> Language</div>
    </div>
  </div>

  <div class="list">
    <div class="heading">Information</div>
    <div class="list-item" routerLink="/contact">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <div class="sub-heading">Contact Us</div>
    </div>
    <div class="list-item">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div class="sub-heading"> Privacy Policy</div>
    </div>
    <div class="list-item" routerLink="/about-us">
      <ion-icon name="people-outline"></ion-icon>
      <div class="sub-heading"> About Us</div>
    </div>
  </div>
</ion-content>