ion-tab-bar{
    padding: 4px;
}
ion-tab-button{
    --color:var(--text-grey-color-3);
    ion-icon{
        font-size: 24px;
    }
    ion-icon[name="airplane-outline"]{
        transform: rotate(327deg);
    }
    ion-label{
        font-size: 13px;
    }
}
