<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <div class="header-container">
      <ion-label>About Us</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading">
    <h2 style="text-align: center;">{{aboutus.heading}} </h2>
    <p style="margin: 24px 0px;" [innerHTML]="aboutus.content"></p>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.about_point1}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.about_point2}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.about_point3}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.about_point4}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.about_point5}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.about_point6}}</div>
    </div>


    <h2 style="text-align: center; margin-top: 60px;">{{aboutus.second_section_heading}} </h2>
    <p style="margin: 24px 0px;" [innerHTML]="aboutus.second_section_text"></p>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.second_section_point1}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.second_section_point2}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.second_section_point3}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.second_section_point4}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.second_section_point5}}</div>
    </div>
    <div class="points">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <div> {{aboutus.second_section_point6}}</div>
    </div>
  </div>
</ion-content>